html,
body,
#root {
  height: 100%;
  margin: 0;
}
button {
  cursor: pointer;
}
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.game-root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Inter, system-ui, sans-serif;
}
.bg-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 4rem;
}
.panel {
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.2);
  text-shadow: 0 8px 5px rgba(0, 0, 0, 0.5);
}

.progress-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  height: 10px;
  width: 100%;
  background: #e5e7eb;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress {
  height: 100%;
  background: linear-gradient(90deg, #249269, #376193);
  border-radius: 5px;
  transition: width 0.4s linear;
}
